* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  
}
body {
  text-align: center;
background-color: rgb(119, 20, 20);
}
.header {
  padding: 20px;
  font-family:'Times New Roman', Times, serif;
  font-style: oblique;
  background-color:lavender;
  color:darkslategray;
  font-size: x-small;
}
main {
image-rendering: crisp-edges;
  display: flex; 
  height: 900px;
  justify-content: center;
}

img {
  display: block;
  height: 100px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  image-rendering: crisp-edges;
  flex-wrap: wrap;
}

