:root {
 --dark: darkslategray;
--light: olive;
}
* {
  padding: 5px;
  margin: 1px;
  background-color: var(--dark);
}
head{
justify-content: center;
}
header {
  font: 100;
  justify-content: center;

}
nav {
  justify-content: space-evenly;
  display: flex;
  color: var(--light);
  line-height: 5;
  position: relative;
}
main{
flex-wrap: wrap;
position: relative;
justify-content: center;
}
body {
  text-align: center;
background-color: royalblue(10px, 20px, 20px);
color: var(--light);

}
.header {
  font-family:'Times New Roman', Times, serif;
  font-style: oblique;
  background-color: goldenrod;
  color:darkslategray;
  font-size: x-small;
  margin-bottom: 20px;
}
 img {
  margin-top: 25px;
  width: 400px;
  height: 200px;
  position: relative;
}
h1 {
  color: var(--light);
}
div {
 
  display: block;
  flex-wrap: wrap;
  justify-content: space-evenly;
}